<div class="col align-items-center w-70 mt-2">
        <div class="card">
          <!-- Card content -->
          <div class="card-body">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            </div>  
            </div>

</div>  