
<!-- Card -->
<div class="purple-gradient">
<div class="d-flex justify-content-center align-items-center mb-3">
    <%= image_tag("leftImage.png", :alt => "Layd Logo", :style => "height: 60vh; width: 50vw;", :class => "img-fluid") %>

    <%= image_tag("rightImage.png", :alt => "Layd Logo", :style => "height: 60vh; width: 50vw;", :class => "img-fluid") %>
</div>
<%= render 'searchbar', user: @user %>
<div class="col align-items-center w-70 mt-2">
<div class="card">
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a></a></h4>
    <!-- Text -->
    <table class="table table-striped " cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope='col'>Price</th>
          <th scope='col'>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Devin</td>
          <td>Developer</td>
          <td>Looking for work</td>
          <td>$50/hr</td>
          <td>5 stars</td>
        </tr>
        <tr>
          <td>Dreams can come True</td>
          <td>designer</td>
          <td>Looking for Developer</td>
          <td>$40/hr</td>
          <td>3 stars</td>
        </tr>

      </tbody>
    </table>

    <%= render 'landingview', user: @user %>
    <div>
  </div>

</div>
</div>  
</div>  
